# Gather

In [1]:
import pandas as pd
import numpy as np
import os

#load twitter-archive-enhanced.csv into twitter_archive_df
twitter_archive_df = pd.read_csv('twitter-archive-enhanced.csv')

In [2]:
#using Python's Tweepy library and store each tweet's entire set of JSON 
#data in a file called tweet_json.txt file.

import tweepy

consumer_key = '...'
consumer_secret = '...'
access_token = '...'
access_secret = '...'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

import json

page_no_exist = []
retweet_count_and_favorite_count = []

with open('tweet_json.txt', mode="w") as file:
    for i in list(twitter_archive_df.tweet_id):
        try:
            tweet = api.get_status(str(i))
            file.write(json.dumps(tweet._json))
            retweet_count_and_favorite_count.append({
                "tweet_id" : str(i),
                "retweet_count" : tweet._json['retweet_count'],
                "favorite_count" : tweet._json['favorite_count']
            })
        except:
            page_no_exist.append(i)

Rate limit reached. Sleeping for: 734
Rate limit reached. Sleeping for: 736

In [3]:
len(retweet_count_and_favorite_count), len(page_no_exist)

(2331, 25)

In [4]:
retweet_count_and_favorite_count = pd.DataFrame(retweet_count_and_favorite_count, columns=["tweet_id",'retweet_count', 'favorite_count'])

In [5]:
#save the image-predictions.tsv file and load it into image_pred_df

import requests

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

with open ('image-predictions.tsv', mode='wb') as file:
    file.write(response.content)
    
image_pred_df = pd.read_csv('image-predictions.tsv',sep="\t")

# Assess

In [6]:
image_pred_df.sample(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1705,817423860136083457,https://pbs.twimg.com/ext_tw_video_thumb/81742...,1,ice_bear,0.336200,False,Samoyed,0.201358,True,Eskimo_dog,0.186789,True
2022,881268444196462592,https://pbs.twimg.com/media/DDrk-f9WAAI-WQv.jpg,1,tusker,0.473303,False,Indian_elephant,0.245646,False,ibex,0.055661,False
1443,775729183532220416,https://pbs.twimg.com/media/CsPxk85XEAAeMQj.jpg,1,web_site,0.989407,False,hand-held_computer,0.002139,False,menu,0.002115,False
1307,753420520834629632,https://pbs.twimg.com/ext_tw_video_thumb/75342...,1,balloon,0.267961,False,lakeside,0.085764,False,rapeseed,0.040809,False
74,667393430834667520,https://pbs.twimg.com/media/CUMOyd3XIAAl13H.jpg,1,papillon,0.557009,True,Border_collie,0.271963,True,collie,0.073473,True
1447,776088319444877312,https://pbs.twimg.com/media/CsU4NKkW8AUI5eG.jpg,3,web_site,0.999916,False,pug,0.000077,True,menu,0.000002,False
197,669603084620980224,https://pbs.twimg.com/media/CUroc7QW4AATIff.jpg,1,Maltese_dog,0.659619,True,Tibetan_terrier,0.193539,True,Shih-Tzu,0.039327,True
573,678424312106393600,https://pbs.twimg.com/media/CWo_T8gW4AAgJNo.jpg,1,Maltese_dog,0.759945,True,toy_poodle,0.101194,True,Shih-Tzu,0.056037,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
563,678021115718029313,https://pbs.twimg.com/media/CWjQm5gXAAA9GkD.jpg,1,miniature_pinscher,0.822048,True,Doberman,0.096085,True,Rottweiler,0.032709,True

In [7]:
image_pred_df.shape

(2075, 12)

In [8]:
sum(image_pred_df.duplicated())

0

In [9]:
image_pred_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [10]:
twitter_archive_df.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None

In [11]:
twitter_archive_df.shape

(2356, 17)

In [12]:
twitter_archive_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [13]:
sum(twitter_archive_df.duplicated())

0

In [14]:
sum(twitter_archive_df.source.duplicated())

2352

In [15]:
twitter_archive_df.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [16]:
retweet_count_and_favorite_count.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           7748           36433
1  892177421306343426           5740           31401
2  891815181378084864           3799           23657
3  891689557279858688           7913           39764
4  891327558926688256           8540           37971

In [17]:
retweet_count_and_favorite_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
tweet_id          2331 non-null object
retweet_count     2331 non-null int64
favorite_count    2331 non-null int64
dtypes: int64(2), object(1)
memory usage: 54.7+ KB

***Quality***

twitter_archive_df
 - 1.redundant retweets rows
 - 2.redundant "in reply to users' tweet" rows
 - 3.wrong rating_numerators in tweet_id 883482846933004288, 778027034220126208, given the number after the decimal point instead of whole numbers
 - 4.dogs without names, but given names of "a" or "an" instead of "None"
 - 5.some rating_denominator do not equal 10
 - 6.wrong Data types of "timestamp", "tweet_id"
 - 7.the rows in sources columns are over 95% duplicated

image_pred_df
 - 8.many predictions contains 3 false in image_pred_df, which means those are useless prediction data.
 

***Tidiness***

twitter_archive_df
 - 1.redundent columns of same category, which is now divided into ["doggo", "flooter", "pupper", "puppo"] columns, but we only need one "stage" column
 - 2."retweet count" and "favorite count" columns are not in the twitter_archive_df

# Clean

### Step 0 : create copies

In [18]:
twitter_clean_df = twitter_archive_df.copy()
image_clean_df = image_pred_df.copy()
retweet_and_favorite_clean = retweet_count_and_favorite_count.copy()

### Step 1: address completeness issues

>no missing important values

### Step 2: tackle the tidiness issues

> 1. redundent columns of same category, which is now divided into ["doggo", "flooter", "pupper", "puppo"] columns, but we only need one "stage" column

##### Define: convert ["doggo", "flooter", "pupper", "puppo"] columns into one "stage" column, then drop the four columns.

##### Code

In [19]:
twitter_clean_df['stage']=None
twitter_clean_df['stage'] = twitter_clean_df.doggo + twitter_clean_df.floofer + twitter_clean_df.pupper + twitter_clean_df.puppo

In [20]:
twitter_clean_df['stage'].value_counts()

NoneNoneNoneNone        1976
NoneNonepupperNone       245
doggoNoneNoneNone         83
NoneNoneNonepuppo         29
doggoNonepupperNone       12
NoneflooferNoneNone        9
doggoflooferNoneNone       1
doggoNoneNonepuppo         1
Name: stage, dtype: int64

In [21]:
twitter_clean_df['stage'] = twitter_clean_df['stage'].map(lambda x: x.replace("None",""))

In [22]:
twitter_clean_df['stage'].value_counts()

                1976
pupper           245
doggo             83
puppo             29
doggopupper       12
floofer            9
doggopuppo         1
doggofloofer       1
Name: stage, dtype: int64

In [23]:
twitter_clean_df.loc[twitter_clean_df.stage == 'doggopupper', 'stage'] = 'doggo, pupper'
twitter_clean_df.loc[twitter_clean_df.stage == 'doggopuppo', 'stage'] = 'doggo, puppo'
twitter_clean_df.loc[twitter_clean_df.stage == 'doggofloofer', 'stage'] = 'doggo, floofer'

In [24]:
twitter_clean_df.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis =1, inplace=True)

##### Test

In [25]:
twitter_clean_df.stage.value_counts()

                  1976
pupper             245
doggo               83
puppo               29
doggo, pupper       12
floofer              9
doggo, puppo         1
doggo, floofer       1
Name: stage, dtype: int64

> 2. "retweet count" and "favorite count" columns are not in the twitter_archive_df

##### Define:  merge "retweet_count_and_favorite_count" with twitter_clean_df on tweet_id

##### Code

In [26]:
retweet_and_favorite_clean = pd.DataFrame(retweet_and_favorite_clean, columns=["tweet_id", "retweet_count", "favorite_count"])
twitter_clean_df.tweet_id = twitter_clean_df.tweet_id.astype('str')
twitter_clean_df = pd.merge(twitter_clean_df, retweet_and_favorite_clean,
                on=['tweet_id'], how='left')

##### Test

In [27]:
twitter_clean_df.retweet_count.describe()

count     2331.000000
mean      2722.387816
std       4604.955969
min          1.000000
25%        549.500000
50%       1278.000000
75%       3160.000000
max      78388.000000
Name: retweet_count, dtype: float64

In [28]:
twitter_clean_df.favorite_count.describe()

count      2331.000000
mean       7615.144573
std       11814.935285
min           0.000000
25%        1329.000000
50%        3315.000000
75%        9339.500000
max      157470.000000
Name: favorite_count, dtype: float64

### Step 3: clean up the quality issues

> 1. redundant retweets rows

##### Define: Find the index of retweets, then remove retweets rows and [ 'retweeted_status_id', 'retweeted_status_user_id',  'retweeted_status_timestamp'] columns

##### Code

In [29]:
retweets_index = list(twitter_clean_df[twitter_clean_df["retweeted_status_id"].isnull()==False].index)

twitter_clean_df.drop(axis=0, index=retweets_index, inplace=True)

In [30]:
twitter_clean_df.drop(['retweeted_status_id', 
                       'retweeted_status_user_id', 
                       'retweeted_status_timestamp'],
                      axis=1,
                      inplace=True)

##### Test

In [31]:
for retweet in retweets_index:
    if retweet in list(twitter_clean_df.index):
        print('Found a retweet')

> 2. redundant "in reply to users' tweet" rows

##### Define: find the index of  "reply" kind of tweets, then remove them and the ['in_reply_to_user_id' , 'in_reply_to_status_id' ] columns

##### Code

In [32]:
replys_index = list(twitter_clean_df[twitter_clean_df["in_reply_to_status_id"].isnull()==False].index)

twitter_clean_df.drop(axis=0, index=replys_index, inplace=True)

In [33]:
twitter_clean_df.drop(['in_reply_to_user_id', 
                       'in_reply_to_status_id'],
                      axis=1,
                      inplace=True)

##### Test

In [34]:
for reply in replys_index:
    if reply in list(twitter_clean_df.index):
        print('Found a reply')

> 3. wrong rating_numerators in tweet_id 883482846933004288, 778027034220126208, given the number after the decimal point instead of whole numbers

##### Define: find the numbers in articles that are float, and save them into 'temp' column temporarily , then convert the rating_ numerator column to float data type and add the right float number into it.

##### Code

In [35]:
twitter_clean_df['temp'] = twitter_clean_df.text.str.extract(r"([0-9]+[.][0-9]+/[0-9]+)")

In [36]:
twitter_clean_df.rating_numerator = twitter_clean_df.rating_numerator.astype(float)

In [37]:
wrong_numerator_index = list(twitter_clean_df[twitter_clean_df['temp'].isnull()==False].index)
for i in wrong_numerator_index:
    twitter_clean_df.rating_numerator[i] = float(twitter_clean_df.temp[i][:-3])

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
twitter_clean_df.drop("temp", axis=1, inplace= True)

##### Test

In [39]:
for i in wrong_numerator_index:
    print(twitter_clean_df.rating_numerator[i])

13.5
9.75
11.27
11.26

In [40]:
twitter_clean_df.rating_numerator[45]

13.5

> 4. dogs without names, but given names of "a" or "an" instead of None

##### Define: find the list of wrong names and use for loop to give indvidual name "None".

##### Code

In [41]:
wrong_name_list = list(twitter_clean_df.query('name == "a" or name == "an"').index)

In [42]:
for i in wrong_name_list:
    twitter_clean_df.name[i] = "None"

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

##### Test

In [43]:
for i in wrong_name_list:
    if twitter_clean_df.name[i] != "None":
        print("wrong name")

> 5. some rating_denominator do not equal 10

##### Define: find the list of rating_denominator != 10, then drop those rows

##### Code

In [44]:
not_ten = list(twitter_clean_df.query("rating_denominator != 10").index)
twitter_clean_df.drop(index=not_ten, inplace=True)

##### Test

In [45]:
twitter_clean_df.query("rating_denominator != 10").index

Int64Index([], dtype='int64')

>  6. wrong Data types of "timestamp", "tweet_id"

##### Define: tansfer the data type

##### Code

In [46]:
twitter_clean_df.timestamp = twitter_clean_df.timestamp.astype('datetime64')
twitter_clean_df.tweet_id = twitter_clean_df.tweet_id.astype(str)

##### Test

In [47]:
twitter_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2080 entries, 0 to 2355
Data columns (total 11 columns):
tweet_id              2080 non-null object
timestamp             2080 non-null datetime64[ns]
source                2080 non-null object
text                  2080 non-null object
expanded_urls         2077 non-null object
rating_numerator      2080 non-null float64
rating_denominator    2080 non-null int64
name                  2080 non-null object
stage                 2080 non-null object
retweet_count         2073 non-null float64
favorite_count        2073 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 195.0+ KB

>  7. the rows in sources columns are 95% duplicated

##### Define: delete this column

##### Code

In [48]:
twitter_clean_df.drop("source",axis=1,inplace=True)

##### Test

In [49]:
twitter_clean_df.columns

Index(['tweet_id', 'timestamp', 'text', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'stage', 'retweet_count',
       'favorite_count'],
      dtype='object')

> 8. many predictions contains 3 false in image_pred_df, which means those are useless prediction data.

##### Define: find rows that have three false and drop them.

##### Code

In [50]:
false_3 = list(image_pred_df.query("p1_dog==False and p2_dog==False and p3_dog == False").index)
image_pred_df.drop(index=false_3,inplace=True)

##### Test

In [51]:
image_pred_df.query("p1_dog==False and p2_dog==False and p3_dog == False").index

Int64Index([], dtype='int64')

### Fianl step: Store data

In [52]:
image_pred_df.to_csv('image_pred_wrangled.csv')

In [53]:
twitter_clean_df.reset_index(drop=True)
twitter_clean_df.to_csv('twitter_archive_master.csv')

In [54]:
df = pd.read_csv('twitter_archive_master.csv')
df.drop('Unnamed: 0',axis=1, inplace=True)
df.head()

,tweet_id,timestamp,text,expanded_urls,rating_numerator,rating_denominator,name,stage,retweet_count,favorite_count
0,892420643555336193,2017-08-01 16:23:56,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13.0,10,Phineas,NaN,7748.0,36433.0
1,892177421306343426,2017-08-01 00:17:27,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13.0,10,Tilly,NaN,5740.0,31401.0
2,891815181378084864,2017-07-31 00:18:03,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12.0,10,Archie,NaN,3799.0,23657.0
3,891689557279858688,2017-07-30 15:58:51,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13.0,10,Darla,NaN,7913.0,39764.0
4,891327558926688256,2017-07-29 16:00:24,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12.0,10,Franklin,NaN,8540.0,37971.0